<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
  <title>{{ page.title }}</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Anurag Singh">
  <link href='css/stylesheet.css' rel='stylesheet' type='text/css'>
  </head>


  <body>
    	<p align=center>
          <a href="/">Home</a> &nbsp/&nbsp
          <!--<a href="/about">About</a> &nbsp/&nbsp-->
	  <a href="/projects">Projects</a> &nbsp/&nbsp
          <a href="/blog"> Blog </a>
        </p>
<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
    <td style="padding:0px">
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      <tr style="padding:0px">
        <td style="padding:2.5%;width:63%;vertical-align:middle">
            <p style="text-align:center">
		<div class="container">

  			{{ content }}

		</div>
	        </p>
	    </td>
	  </tr>
    </tbody>
	  </table>
  </body>

</html>
